@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}

img {
  display: block;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  padding-left: 5%;
}

.dino {
  width: 100%;
  padding: 0;
  margin: 0;
}

.caption {
  font-family: "Georgia", sans-serif;
  font-style:italic;
  color: white;
  font-size: .75rem;
  position: absolute;
  bottom: 175px;
  box-shadow: 100px, #646464;
}

.period h2 {
  font-size: 1rem;
  color: #8d8d8d;
  text-transform:uppercase;
}

.diet h2 {
  font-size: 1rem;
  color: #8d8d8d;
  text-transform:uppercase; 
}

.length h2 {
  font-size: 1rem;
  color: #8d8d8d;
  text-transform:uppercase; 
}

.period {
  float: left;
  overflow: hidden;
  width: 33%;
  border-left: thin solid #5d5c5c;
  padding: 1rem;
}

.diet {
  float: left;
  overflow: hidden;
  width: 33%;
  border-left: thin solid #5d5c5c;
  padding: 1rem;
}

.length {
  float: left;
  overflow: hidden;
  width: 33%;
  border-left: thin solid #5d5c5c;
  padding: 1rem;
}